bifeldy-sd3-wf-452/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendLogTTF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_LogData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendLogTTFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendLogTTFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendLogTTFSoapIn">
    <wsdl:part name="parameters" element="tns:SendLogTTF" />
  </wsdl:message>
  <wsdl:message name="SendLogTTFSoapOut">
    <wsdl:part name="parameters" element="tns:SendLogTTFResponse" />
  </wsdl:message>
  <wsdl:portType name="TTFLOGServiceSoap">
    <wsdl:operation name="SendLogTTF">
      <wsdl:input message="tns:SendLogTTFSoapIn" />
      <wsdl:output message="tns:SendLogTTFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TTFLOGServiceSoap" type="tns:TTFLOGServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendLogTTF">
      <soap:operation soapAction="http://tempuri.org/SendLogTTF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TTFLOGServiceSoap12" type="tns:TTFLOGServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendLogTTF">
      <soap12:operation soapAction="http://tempuri.org/SendLogTTF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTFLOGService">
    <wsdl:port name="TTFLOGServiceSoap" binding="tns:TTFLOGServiceSoap">
      <soap:address location="http://localhost:52242/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="TTFLOGServiceSoap12" binding="tns:TTFLOGServiceSoap12">
      <soap12:address location="http://localhost:52242/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>